<!DOCTYPE html>
<html>
<head>
    <title>PIXI.js</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.7.0/pixi.min.js"></script>
<h1>Hello, world</h1>
<script type="text/javascript">
    PIXI.utils.sayHello("canvas");
    let width = 1024;
    let height = 768;
    let app = new PIXI.Application({width: width, height: height, forceCanvas: false});
    document.body.appendChild(app.view);

    let objs = [];
    let size = 20;
    for (var i = 0; i < 1000; ++i) {
        let rect = new PIXI.Graphics();
        rect.on('click', function (e) {
            console.log("Clicked that rect!");
        });
        app.stage.addChild(rect);
        rect.beginFill(0xFFFFFF * Math.random());
        rect.lineStyle(1, 0x000000, 1);
        // rect.drawRect(0, 0, 5, 5);
        rect.drawPolygon(new PIXI.Polygon(size / 2, 0, size, size, 0, size));
        rect.position.x = Math.random() * width;
        rect.position.y = Math.random() * height;
        rect.endFill();
        rect.interactive = true;
        rect.hitArea = rect.getLocalBounds();
        objs.push({dirX: 1, dirY: 1, rect: rect, speed: Math.random() * 8});
    }

    function drawLoop() {
        requestAnimationFrame(drawLoop);
        for (var i = 0; i < objs.length; ++i) {
            let o = objs[i];
            if (o.rect.position.x <= 0) {
                o.dirX = 1;
            } else if (o.rect.position.x + size >= width) {
                o.dirX = -1;
            }
            if (o.rect.position.y <= 0) {
                o.dirY = 1;
            } else if (o.rect.position.y + size >= height) {
                o.dirY = -1;
            }
            o.rect.position.x += o.speed * o.dirX;
            o.rect.position.y += o.speed * o.dirY;
        }
        app.renderer.render(app.stage);
    }
    requestAnimationFrame(drawLoop);
</script>
</body>
</html>