<!DOCTYPE html>
<html>
<head>
    <title>PIXI.js</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.7.0/pixi.js"></script>
<h1>PIXI.js</h1>
<div>
    <button onclick="toggleLineStyle()">lineStyle</button>
    <button onclick="toggleShape()">shape</button>
    <button onclick="toggleMoveShapes()">move shapes</button>
</div>
<script type="text/javascript">
    let width = 1024;
    let height = 768;
    let lineStyle = false;
    let shape = "rect";
    let moveShapes = true;
    let app = new PIXI.Application({width: width, height: height, forceCanvas: false, autoStart: true});
    app.stage.interactive = true;
    var tickCount = 0;
    var recreated = false;
    document.body.appendChild(app.view);
    const size = 20;

    let callsPerSec = 0;

    function createShapes() {
        let objs = [];
        for (var i = 0; i < 1000; ++i) {
            let g = new PIXI.Graphics();
            g.interactive = true;
            g.on('click', function (e) {
                console.log("Clicked that shape!");
            });

            if (lineStyle) {
                g.lineStyle(1, 0x000000, 1);
            }
            if (shape === "rect") {
                g.beginFill(0xFFFFFF * Math.random());
                g.drawRect(0, 0, size, size);
                g.endFill();
            } else if (shape === "polygon") {
                g.beginFill(0xFFFFFF * Math.random());
                g.drawPolygon(new PIXI.Polygon(size / 2, 0, size, size, 0, size));
                g.endFill();
            } else if (shape === "line") {
                g.lineStyle(2, 0xFFFFFF * Math.random(), 1);
                g.moveTo(0, 0);
                let phi = Math.random() * Math.PI/2;
                g.lineTo(Math.cos(phi) * size, Math.sin(phi) * size);
                g.lineTo(Math.cos(phi + Math.PI/2) * size, Math.sin(phi + Math.PI/2) * size);
            }
            g.position.x = Math.random() * width;
            g.position.y = Math.random() * height;
            objs.push({dirX: 1, dirY: 1, g: g, speed: Math.random() * 8});
        }
        return objs;
    }

    var objs = [];
    function recreateShapes() {
        app.stage.removeChildren();
        objs = createShapes();
        objs.forEach(function (s) {
            app.stage.addChild(s.g);
        });
        recreated = true;
    }

    recreateShapes();

    function toggleLineStyle() {
        lineStyle = !lineStyle;
        recreateShapes();
    }

    function toggleShape() {
        switch (shape) {
            case "rect": shape = "polygon"; break;
            case "polygon": shape = "line"; break;
            case "line": shape = "rect"; break;
        }
        recreateShapes();
    }

    function toggleMoveShapes() {
        moveShapes = !moveShapes;
    }

    let started = performance.now();
    let loopCount = 0;
    const moveRatio = 1;
    function drawLoop(renderTime) {
        loopCount++;
        const fps = 20;
        // renderTime = performance.now();
        if (moveShapes || recreated) {
            for (var i = 0; i < objs.length; ++i) {
                if (Math.random() > moveRatio) {
                    continue;
                }
                let o = objs[i];
                if (o.g.position.x <= 0) {
                    o.dirX = 1;
                } else if (o.g.position.x + size >= width) {
                    o.dirX = -1;
                }
                if (o.g.position.y <= 0) {
                    o.dirY = 1;
                } else if (o.g.position.y + size >= height) {
                    o.dirY = -1;
                }
                o.g.position.x += o.speed * o.dirX;
                o.g.position.y += o.speed * o.dirY;
            }
            app.renderer.render(app.stage);
            recreated = false;
        }
    }
    PIXI.ticker.shared.add(drawLoop);
</script>
</body>
</html>
