<!DOCTYPE html>
<html>
<head>
    <title>SVG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
</head>
<body>
<h1>Lecker SVG</h1>

<script type="text/javascript">
    function addDiv() {
        var div = document.getElementById("messages");
        div.innerHTML = "You clicked me at " + new Date();
        var gAll = document.getElementById("g-all");
        gAll.setAttribute("transform", "translate(" + Math.random() * 100 + ", " + Math.random() * 100 + ")");
    }
</script>

<svg width="1024" height="768">
    <style type="text/css">
        .node {
            fill: white;
            stroke-width: 4px;
            stroke: red;
        }

        .edge {
            stroke: black;
            stroke-width: 1px;
            fill: none;
        }

        .origin {
            stroke: gray;
            stroke-width: 1px;
        }

        .box {
            fill: palegreen;
        }
    </style>
    <g transform="translate(30, 30)" id="g-all">
        <path d="M -10 0 L 10 0 M 0 -10 L 0 10" class="origin"/>
        <g transform="rotate(30, 50, 50)">
            <line x1="50" y1="50" x2="200" y2="50" class="edge"/>
            <circle r="10" cx="200" cy="50" class="node"/>
        </g>
        <g transform="rotate(60, 50, 50)">
            <line x1="50" y1="50" x2="200" y2="50" class="edge"/>
            <circle r="10" cx="200" cy="50" class="node"/>
        </g>
        <g transform="rotate(90, 50, 50)">
            <line x1="50" y1="50" x2="200" y2="50" class="edge"/>
            <circle r="10" cx="200" cy="50" class="node"/>
        </g>
        <circle r="10" cx="50" cy="50" class="node" />

        <g transform="translate(300, 0)">
            <polyline points="50,0 100,50 50,100 100,150" class="edge" />
        </g>
    </g>
    <g transform="translate(650, 140) scale(0.5) translate(-650, -140)">
        <rect x="600" y="100" width="100" height="80" class="box" onclick="addDiv()"/>
    </g>
</svg>

<div id="messages"></div>
</body>
</html>
